
body{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Now Display DW",sans-serif;

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        position: sticky;
        top: 0;
        left: 0;
        max-width: 100%;
        z-index: 50 !important;

        .logo{
            display: flex;
            text-decoration: none;
            align-items: flex-start;
            z-index: 20;
            transition: .5s;
            
            svg{
                margin-right: 10px;
                path{
                    transition: .5s;
                }
            }

            .d-block{
                display: block;
                text-align: start;
                p{
                    transition: .5s;
                }
                p:first-child{
                    font-size: 20px;
                    font-weight: 800;
                    color: black;
                    margin-top:0;
                    letter-spacing: -1px;
                    margin-bottom: 0;
                }

                p:last-child{
                    margin-top: 0;
                    font-size: 12px;
                    color: black;
                    letter-spacing: 2px;
                    font-weight: 600;
                }

            }

            &:hover{
                svg{
                    path{
                        fill: darkgrey !important;
                    }
                }
                .d-block{
                    p{
                        color: darkgrey !important;
                    }
                }
            }
        }

        nav{
            position: fixed;
            bottom: 0;
            left: 0;
            height: 0;
            max-width: 100%;
            width: 100%;
            background-color: #0F141E;
            padding: 0;
            margin: 0;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;       
            overflow: hidden;    
            transition: .5s;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
    
            .links{
                display: block;
                text-align: center;
                transition: .3s;
                a{
                    display: block;
                    font-size: 40px;
                    text-decoration: none;
                    color: #878A8F;
                    font-weight: 600;
                    margin: 8px 0;
                    transition: .5s;

                    &:hover{
                        color: #fff;
                    }
                }
                a.active{
                    color: #fff !important;
                }
                p{
                    color: #808288;
                    letter-spacing: 2px;
                }

            }
            
            p{
                color: #53575E;
                font-size: 13px;
            }

            .close-navbar{
                position: absolute;
                right: 30px;
                top: 30px;
                color: #878A8F;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;

                span{
                    font-size: 12px;
                    font-weight: 800;
                    margin-right: 10px;
                    letter-spacing: 1px;
                    transition: .5s;
                    display: none;
                }
                i{
                    transition: .5s;
                    font-size: 30px;
                }
                &:hover{
                    span{
                        color: #fff;
                    }
                    i{
                        color: #fff;
                        transform: rotate(90deg);
                    }
                }
            }

            .nav__footer{
                position: absolute;
                bottom: 20px;
                right: 45%;
                width: 100%;
                max-width: 100% !important;
                left: 0;
                text-align: center;

                p{
                    display: flex;
                    flex-wrap: nowrap;
                    width: 100%;
                    justify-content: center;
                    cursor: default;
                }
                p::selection{
                    background: transparent;
                }   

            }


        }

        #navbar-toggler-icon{
            font-size: 14px;
            font-weight: 600;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: .5s;                

            &:hover {
  
                color: darkgrey !important;
            
                i{
                    color: darkgrey !important;
                }
            }

            i.fas.fa-bars{
                font-size: 20px;
                margin-left: 10px;
                transition: .5s;
            }
        }

    }

    main{

        section#case-study-section{
            .row{
                display: flex;
                justify-content: center;
                .col:nth-child(1){
                    width: 40%;
                    .d-block{
                        margin: 30px 0;
                        p:nth-child(1){
                            font-size: 13px;
                            color: darkgrey;
                            letter-spacing: 2px;
                        }
                        p:nth-child(2){
                            font-size: 15px;
                            color: #0F141E;
                            font-weight: 600;
                        }
                        h1{
                            font-size: 35px;
                            font-weight: 700;
                            color: #0F141E;
                            margin-top: 0;
                            margin-right: 80px;
                        }
                    }
                }
                .col:nth-child(2){
                    width: 49%;
                    p{
                        margin: 20px 0;
                        color: darkgrey;
                        font-size: 15px;
                    }
                    a{
                        margin: 20px 0;
                        color: darkgrey;
                        font-size: 15px;
                        padding-bottom: 3px;
                        border-bottom: 1px solid darkgrey;
                        text-decoration: none;
                        transition: .4s;
                        &:hover{
                            color: black;
                            border-color: black;
                        }
                    }
                }
            }
        }

        #project-images{
            display: block;
            width: 90%;
            margin: 0 auto;

            img{
                width: 100%;
                margin: 20px 0;
            }
            video{
                margin: 20px 0;
                width: 100%;
            }
            .row{
                display: flex;
                justify-content: space-between;
                align-items: center;
                img{
                    width: 49%;

                }
                video{
                    width: 49%;
                }
            }
            .d-block{
                display: block;
                img{
                    width: 100%;
                }
                .d-flex{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 50%;
                    }
                }
            }
            .text{
                margin: 30px 0;
                p:first-child{
                    font-size: 25px;
                    font-weight: 600;
                    color: #0F141E;
                }
                p:last-child{
                    font-size: 15px;
                    color: grey;

                }
            }
        }

        #testimonial{
            display: block;
            text-align: center;
            padding: 180px 0;
            p:nth-child(1){
                letter-spacing: 2px;
                color: darkgrey;
                font-size: 14px;
            }
            p:nth-child(2){
                font-size: 26px; 
                color: #0F141E;     
                font-weight: 600;
                margin: 0 110px;      
            }
            .d-block{
                margin: 70px 0;
                p:nth-child(1){
                    font-size: 14px;
                    color: #0F141E;
                }
                p:nth-child(2){
                    color: darkgrey;
                    font-size: 14px;
                    font-weight: 500;
                }
            }
            .d-block-2{
                text-align: center;
                p:nth-child(1){
                    font-size: 14px;
                }
                a{
                    font-size: 40px;    
                    color: #0F141E;
                    font-weight: 600;
                    border-bottom: 3px solid transparent;
                    text-decoration: none;
                    text-align: center;
                    padding-bottom: 3px;
                    transition: .4s;
                    &:hover{
                        border-color: #0F141E;
                    }
                    i{
                        color: #0F141E;
                    }
                }
                p:nth-child(3){
                    font-size: 14px;
                    color: darkgrey;
                    span{
                        color:#0F141E;
                    }
                }
            }
        }
        
        a.contact-link{
            position: fixed;
            left: 30px;
            bottom: 40px;
            background-color: rgba(15,20,30,0.5);
            display: flex;
            overflow: hidden;
            padding: 15px;
            border-radius: 30px;
            text-decoration: none;
            max-width: 15px;
            max-height: 15px;
            z-index: 9;
            transition: .5s;

            i{
                color: #fff !important; 
            }

            span{
                color: #fff !important; 
                font-size: 13px;
                margin-left: 15px;
                white-space: nowrap;
                opacity: 0;
                transition: .4s;
            }

            &:hover{
                max-width: 150px;
                background-color: rgb(15,20,30);
                span{
                    opacity: 1;       
                }
            }

        }

        a#scroll-top{
            display: none;
            align-items: center;
            justify-content: center;
            position: fixed;
            right: 30px;
            bottom: 40px;
            background-color: rgba(15,20,30,0.5);
            padding: 15px;
            border-radius: 50%;
            text-decoration: none;
            max-width: 15px;
            max-height: 15px;
            z-index: 9;
            cursor: pointer;

            i{
                color: #fff !important; 
            }

            &:hover{
                background-color: rgb(15,20,30); 
            }

        }
    } 



}


.loader-window{
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 60;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s;


    .loader{
        padding: 30px;
        background-color: rgba(255, 255, 255, .4);
        border-radius: 50%;
        z-index: 1;
        animation-name: loaderAnimation;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        // animation-direction: alternate-reverse;
    }
    p{
        z-index: 1;
        color: #fff;
        font-size: 60px;
        font-weight: 600;
        position: absolute;
        bottom: 20px;
        left: 20px;
        span{
            font-size: 15px;
            color: darkgrey;
            letter-spacing: 2px;
        }
    }

    @keyframes loaderAnimation {
        0%{
            opacity: .2;
            transform: scale(0);
        }
        25%{
            opacity: .3;
        }
        50%{
            opacity: .5;
        }
        75%{
            opacity: .7;
        }
        100%{
            opacity: .2;
            transform: scale(1);
        }
    }

    img{
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
}

.loader-window.show{
    display: flex;
}

@media (max-width: 480.9px){
    body{
        header{
            background-color: rgba(255, 255, 255, 0.9);
            padding: 20px 10px;
            .logo{
                svg{
                    display: none;
                }
            }
            nav{
                .logo{
                    left: 10px;
                }
                .close-navbar{
                    right: 10px;
                }
                .links{
                    a{
                        font-size: 26px;
                    }
                    a.active-page{
                        span{
                            width: 35px;
                            left: -40px;
                        }
                    }
                }

            }
        }
        main{
            section#case-study-section{
                .row{
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    overflow: hidden;

                    .col:nth-child(1){
                        padding: 0 10px;
                        width: 100%;
                        margin-right: 0 !important;
                        max-width: 100%;
                        overflow: hidden;

                        .d-block:nth-child(1){

                        }
                    }
                    .col:nth-child(2){
                        padding-left: 10px;
                        width: 100%;
                        max-width: 100%;
                        p{
                            margin-right: 20px;
                        }
                    }
                }
            }
            section#project-images{
                .row{
                    display: block;
                    img{
                        width: 100%;
                    }
                    video{
                        width: 100%;
                    }
                }
            }
            section#testimonial{
                p{
                    margin: 0 !important;
                }
                p:nth-child(2){
                    font-size: 19px;
                    margin: 0 20px;
                }
                .d-block-2{
                    p{
                        font-size: 14px;
                        margin: 20px 0 !important;
                    }
                    a{
                        font-size: 20px;
                    }
                }
            }
            a#scroll-top{
                right: 20px;
                bottom: 30px;
            }
            a.contact-link{
                display: none;
            }
        }
 
    }
}

@media (min-width: 481px) and (max-width: 768.9px){
    body{
        header{
            background-color: rgba(255, 255, 255, 0.9);
            nav{
                .logo{
                    left: 10px;
                }
                .close-navbar{
                    right: 10px;
                }
                .links{
                    a{
                        font-size: 26px;
                    }
                    a.active-page{
                        span{
                            width: 35px;
                            left: -40px;
                        }
                    }
                }

            }
        }
        main{
            section#case-study-section{
                .row{
                    display: block;
                    width: 100%;
                    max-width: 100%;
                    overflow: hidden;

                    .col:nth-child(1){
                        padding: 0 10px;
                        width: 100%;
                        margin-right: 0 !important;
                        max-width: 100%;
                        overflow: hidden;

                        .d-block:nth-child(1){

                        }
                    }
                    .col:nth-child(2){
                        padding-left: 10px;
                        width: 100%;
                        max-width: 100%;
                        p{
                            margin-right: 20px;
                        }
                    }
                }
            }
            section#project-images{
                .row{
                    display: block;
                    img{
                        width: 100%;
                    }
                    video{
                        width: 100%;
                    }
                }
            }
            section#testimonial{
                p{
                    margin: 0 !important;
                }
                p:nth-child(2){
                    font-size: 19px;
                    margin: 0 20px;
                }
                .d-block-2{
                    p{
                        font-size: 14px;
                        margin: 20px 0 !important;
                    }
                    a{
                        font-size: 20px;
                    }
                }
            }
            a#scroll-top{
                right: 20px;
                bottom: 30px;
            }
            a.contact-link{
                display: none;
            }
        }
 
    } 
}

@media (min-width: 769px) and (max-width: 1024.9px){
    body{
        header{
            background-color: rgba(255, 255, 255, 0.9);
            nav{
                .close-navbar{
                    span{
                        display: block;
                    }
                }
            }
        }
        main{

        }
        footer{
            .row{
                flex-wrap: wrap;
                max-width: 100%;

                .col{
                    width: 45% !important;
                    padding: 0;
                    margin-bottom: 30px;
                }
                .col:nth-child(1),.col:nth-child(3){
                    text-align: start;
                    p:nth-child(2){
                        justify-content: flex-start;
                    }
                }
                .col:nth-child(2),.col:nth-child(4){
                    text-align: end;
                    p:nth-child(2){
                        justify-content: flex-end;
                    }
                }

            }
            
        }
    }
}

@media (min-width: 1025px) and (max-width: 1200.9px){
    body{
        header{
            nav{
                .close-navbar{
                    span{
                        display: block;
                    }
                }

            }
        }
        main{

        }
    }
}

@media (min-width: 1201px) and (max-width: 1600.9px){
    body{
        header{
            nav{
                .close-navbar{
                    span{
                        display: block;
                    }
                }

            }
        }

    }
}






